body {
	margin: 0;
	background: Black;
	font-family: 'Calibri';
	font-size: 20px;
	font-weight: 800;
	color: white;
}

#menu
{
	background: #55d6aa;
	margin: 0 auto;
	width: 100%;
	float: inline-start;
	position: fixed;
	
}

.logo{
	padding-left: 100px;
	width: 50px;
}

#menu::after {
  content: '';
  display: table;
	clear: both;
}


#menu ul {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
  display: inline-block;
	margin-left: 70px;
	padding-right: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
}

#menu a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
	font-size: 14px;
}

#menu a:hover {
  color: #000;
}

#menu a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;
  position: absolute;
  top: 0;
  width: 0%;
	transition: all ease-in-out 250ms;
}

#menu a:hover::before {
  width: 100%;
}

#about{
	padding: 100px;
}

.section{
	padding: 50px;
  line-height: 0.5;
	text-align: center;
}

.section span{
  display: inline-block;
	position: sticky;
	 
}


.section span:before, .section span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-top: 3px solid #55d6aa;
  top: 10px;
	width: 700px;

}

.section span:before {
  right: 100%;
  margin-right: 15px;
}
.section span:after {
  left: 100%;
  margin-left: 15px;
}


.section p{
	padding-top: 100px; 
}

#playlist p a{
	color: white;
}


#qrcoder img{
	padding: 90px;
	padding-bottom: 0px;;
	height: 100px;
	width: 100px;
}

.rollover {
	overflow: hidden;
	position: relative;
	display: block;
	width: 400px;
	height: 300px;
	background-image: url("QR.png");
	-webkit-transition: all .7s ease-in-out;
	-moz-transition: all .7s ease-in-out;
	-o-transition: all .7s ease-in-out;
	transition: all .7s ease-in-out;
}

.rollover:hover {
	overflow: hidden;
	background: url(https://www.nps.gov/common/uploads/stories/images/nri/20151216/articles/C6E16F5A-1DD8-B71B-0BAB45B9358DD9C8/C6E16F5A-1DD8-B71B-0BAB45B9358DD9C8.jpg)
}



input[type=text]{
  width: 40%;
  padding: 5px 30px;
  margin: 8px 0;
	box-sizing: border-box;
	color: #000;
	font: calibri;
}

input[type=text]:focus, textarea#styled:focus {
	border: 3px solid #55d6aa;
	background: #55d6aa;
}

textarea#styled {
	width: 585px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Calibri;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}
